{{ attach_library('amp/amp.twitter') }}
<amp-twitter width="486" height="694"
             layout="responsive"
             data-tweetid="{{ tweetid }}"
             data-cards="true">
    {#<blockquote placeholder {{ attributes }}>
        <a href="{{ path }}">{{ path }}</a>
    </blockquote>#}
</amp-twitter>